<div class="card-panel z-depth-5 center", style="margin: 11rem 30rem 11rem 30rem;">
<h4>ご当地ソングを登録しよう</h4>

<%= link_to "Googleマップ", "https://google.co.jp/maps", class:"btn waves-effect waves-light", style: "color: black;" %>
<%= link_to "YouTube", "https://youtube.com", class:"btn waves-effect waves-light", style: "color: black;"  %><br>
<br>
<%= form_with model: @song, url: :create, method: :post do |form| %>
  <div class="register_form">
    <%= form.label :url, "URL", class:"left" %><br>
    <%= form.text_field :url, class:"center" %>
    <%= form.label :latitude, "緯度", class:"left" %><br>
    <%= form.text_field :latitude, class:"center" %>
    <%= form.label :longitude, "経度", class:"left" %><br>
    <%= form.text_field :longitude, class:"center" %>
  </div>
  <br>
    <button class="btn waves-effect waves-light" type="submit" name="action" style= "font-weight: bold; color: black;">登録
      <i class="material-icons right">send</i>
    </button>
<% end %>
</div><!--card-->