<div class="card-panel z-depth-5", style="margin: 0.5rem 20rem 1rem 20rem;">
<h4>ご当地ソングを登録しよう</h4>

<%= link_to "Googleマップ", "https://google.co.jp/maps", class:"btn waves-effect waves-light", style: "color: black;" %>
<%= link_to "YouTube", "https://youtube.com", class:"btn waves-effect waves-light", style: "color: black;"  %><br>
<br>
<%= form_with model: @song, url: :create, method: :post do |form| %>
  <div class="register_form">
    <%= form.label :url, "URL" %><br>
    <%= form.text_field :url %>
    <%= form.label :latitude, "緯度" %><br>
    <%= form.text_field :latitude %>
    <%= form.label :longitude, "経度" %><br>
    <%= form.text_field :longitude %>
  </div>

  <br>
    <button class="btn waves-effect waves-light" type="submit" name="action" style= "font-weight: bold; color: black;">登録
      <i class="material-icons right">send</i>
    </button>
<% end %>
</div><!--card-->

<script>
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        window.alert('Geolocation API対応ブラウザでアクセスしてください。');
    }

    function showPosition(position) {
        document.getElementById( "latitude" ).value = position.coords.latitude;
        document.getElementById( "longitude" ).value = position.coords.longitude;
    }
</script>