<h2>ご当地ソングを登録してみよう</h2>

<%= form_with model: @song, url: :create, method: :post do |form| %>
  <div>
    <%= form.label :url, "URL" %><br>
    <%= form.text_field :url %>
    <%= form.label :latitude, "Latitude" %><br>
    <%= form.text_field :latitude %>
    <%= form.label :longitude, "Longitude" %><br>
    <%= form.text_field :longitude %>
  </div>

  <br>
  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>