<h2>Welcome to Local Song Explorer</h2>

<%= form_with model: @coordinate, url: :find, method: :get do |form| %>
  <div>
    <%= form.label :latitude %><br>
    <%= form.text_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude %><br>
    <%= form.text_field :longitude %>
  </div>

  <div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<br>
<%= link_to "Register a song", "/register" %>

<br>
<%= link_to "Show registered songs", "/songs" %>

<script>

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        window.alert('Geolocation API対応ブラウザでアクセスしてください。');
    }

    function showPosition(position) {
        document.getElementById( "latitude" ).value = position.coords.latitude;
        document.getElementById( "longitude" ).value = position.coords.longitude;
    }
</script>